body{
    background-image: url("../img/backgorundgame.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 140%;
    overflow: hidden;
}
#ball1{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 200px;
    background: rgb(238,174,174);
    background: linear-gradient(260deg, rgba(238,174,174,1) 0%, rgba(255,0,0,1) 100%);
    box-shadow: 0 4px 20px 4px white;
    position: absolute;
}
#ball2{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    box-shadow: 0 4px 20px 4px white;
}
#score {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .5), 0 4px 80px -8px rgba(0, 20, 60, 1);
    background-color: white;
    text-align: center;
    color: green;
    font-size: 20px;
    line-height: 1.8;
    }